

.top-back{
 background: rgba(195, 195, 195, 0.15);
 
 background-size: cover;
}

.name{
    width: 800px;
}

.navbar-brand img{
    width: 400px;
    height: 60px;
}
.button{
    color: white;
    font-size: 20px;
}

.button i img {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}
#top-text{
    margin-top: 200px;
    
}
.rate{
   display: inline;
}
.curd-buy{
  
    margin-left: 80px;
}
.service{
    height: 100px;
    width: 100px;

}
.card-jaket{
    border: 0px;
    border-radius: 10px;
    
    
}


.image{
    height: 350px;
    width: 300px;
    margin-left: 35px;
    padding-top: 20px;
}


.card-footer-jaket{
    border-top: 0;
    background-color: white;
}

.jack-back {
    height: 350px;
    width:378px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(110, 110, 110, 0.13);
}