.navbar-brand img{
    width: 300px;
    height: 40px;
}
.button{
    color: white;
    font-size: 20px;
}

.button i img {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}
#top-text{
    margin-top: 200px;
    
}
.rate{
   display: inline;
}
.curd-buy{
    align-items: center;
    margin-left: 100px;
}
.service{
    height: 100px;
    width: 100px;

}
.card-jaket{
    border: 0px;
}
.card-footer-jaket{
    border-top: 0;
    background-color: white;
}